Repository hyperledger-identus/sdk-swift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @goncalo-frade-iohk, @elribonazo, @amagyar-iohk, @petevielhaber

.github/CODEOWNERS:

* @goncalo-frade-iohk @elribonazo

# Test related:
/Sample/ @goncalo-frade-iohk
/E2E/ @amagyar-iohk

# Docs:
*.md @petevielhaber @goncalo-frade-iohk

docs(experience): Update Readme, point to new repo locations
  README.md
Owners: @petevielhaber, @goncalo-frade-iohk

test
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/megalinter.yml
  .github/workflows/release.yml
  .github/workflows/releaseDocumentation.yml
Owners: @goncalo-frade-iohk, @elribonazo

add name
  E2E/Package.swift
Owners: @amagyar-iohk

downgrade swifthamcrest
  E2E/Package.swift
Owners: @amagyar-iohk

remove xcode setup
  .github/workflows/e2e.yml
Owners: @goncalo-frade-iohk, @elribonazo

change hamcrest to swift hamcrest
  E2E/Package.swift
  E2E/TestFramework/BDD/Feature.swift
  E2E/TestFramework/Configuration/TestConfiguration.swift
  E2E/TestFramework/Extensions/Assertions.swift
  E2E/Tests/Source/Workflows/CloudAgentWorkflow.swift
  E2E/Tests/Source/Workflows/EdgeAgentWorkflow.swift
Owners: @amagyar-iohk

refactor and run scripts
  E2E/.gitignore
  E2E/TestFramework/BDD/Feature.swift
  E2E/TestFramework/Configuration/TestConfiguration.swift
  E2E/TestFramework/Screenplay/Ability.swift
  E2E/TestFramework/Screenplay/Actor.swift
  E2E/Tests/.gitignore
  E2E/Tests/Source/Abilities/CloudAgentAPI.swift
  E2E/Tests/Source/Abilities/DidcommAgentAbility.swift
  E2E/Tests/Source/Config.swift
  E2E/Tests/Source/Features/Backup.swift
  E2E/Tests/Source/Features/ProvideAnoncredProof.swift
  E2E/Tests/Source/Features/ProvideJwtProof.swift
  E2E/Tests/Source/Features/ReceiveAnoncredCredential.swift
  E2E/Tests/Source/Features/VerifySdJwtCredential-MISSING.swift
  E2E/Tests/Source/Steps/EdgeAgentSteps.swift
  E2E/Tests/Source/Workflows/EdgeAgentWorkflow.swift
  E2E/run+swift.sh
  E2E/run+xcodebuild.sh
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+Messages.swift
Owners: @amagyar-iohk, @goncalo-frade-iohk, @elribonazo

removes workflows
  .github/workflows/e2e.yml
Owners: @goncalo-frade-iohk, @elribonazo

feat(castor): now castor and agents can create a did with any keys
  EdgeAgentSDK/Castor/Sources/CastorImpl+Public.swift
  EdgeAgentSDK/Castor/Sources/DID/PrismDID/PrismDIDPublicKey.swift
  EdgeAgentSDK/Castor/Sources/Operations/CreatePeerDIDOperation.swift
  EdgeAgentSDK/Castor/Sources/Operations/CreatePrismDIDOperation.swift
  EdgeAgentSDK/Castor/Sources/Resolvers/LongFormPrismDIDResolver.swift
  EdgeAgentSDK/Domain/Sources/BBs/Castor.swift
  EdgeAgentSDK/Domain/Sources/Models/Errors.swift
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+Credentials.swift
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+DIDs.swift
  EdgeAgentSDK/EdgeAgent/Sources/EdgeAgent+DIDHigherFucntions.swift
  EdgeAgentSDK/EdgeAgent/Sources/OIDCAgent/OIDCAgent+DIDs.swift
  EdgeAgentSDK/EdgeAgent/Tests/BackupWalletTests.swift
  EdgeAgentSDK/EdgeAgent/Tests/CheckTest.swift
  EdgeAgentSDK/EdgeAgent/Tests/Helper/Castor+Testing.swift
  EdgeAgentSDK/Pollux/Sources/Operation/SDJWT/CreateSDJWTCrendentialRequest.swift
  EdgeAgentSDK/Pollux/Sources/PolluxImpl+CredentialRequest.swift
  EdgeAgentSDK/Pollux/Tests/Mocks/MockCastor.swift
Owners: @goncalo-frade-iohk, @elribonazo

some changes
  E2E/TestFramework/Configuration/TestConfiguration.swift
  E2E/Tests/Source/Features/Backup.swift
  E2E/Tests/Source/Features/ProvideAnoncredProof.swift
  E2E/Tests/Source/Features/ProvideJwtProof.swift
  E2E/Tests/Source/Features/ProvideSdJwtProof-MISSING.swift
  E2E/Tests/Source/Features/ReceiveAnoncredCredential.swift
  E2E/Tests/Source/Features/ReceiveSdJwtCredential+WIP.swift
  E2E/Tests/Source/Features/RevokeJwtCredential.swift
  E2E/Tests/Source/Features/VerifyAnoncredCredential-DIFF.swift
  E2E/Tests/Source/Features/VerifyJwtCredential.swift
  E2E/Tests/Source/Features/VerifySdJwtCredential-MISSING.swift
  E2E/Tests/Source/Workflows/EdgeAgentWorkflow.swift
  E2E/run+swift.sh
  E2E/run+xcodebuild.sh
Owners: @amagyar-iohk

test
  E2E/Tests/Source/Abilities/CloudAgentAPI.swift
  E2E/Tests/Source/Config.swift
  E2E/run+xcodebuild.sh
Owners: @amagyar-iohk

feat(castor): now castor and agents can create a did with any keys
  EdgeAgentSDK/Castor/Sources/CastorImpl+Public.swift
  EdgeAgentSDK/Castor/Sources/DID/PrismDID/PrismDIDPublicKey.swift
  EdgeAgentSDK/Castor/Sources/Operations/CreatePeerDIDOperation.swift
  EdgeAgentSDK/Castor/Sources/Operations/CreatePrismDIDOperation.swift
  EdgeAgentSDK/Castor/Sources/Resolvers/LongFormPrismDIDResolver.swift
  EdgeAgentSDK/Domain/Sources/BBs/Castor.swift
  EdgeAgentSDK/Domain/Sources/Models/Errors.swift
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+Credentials.swift
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+DIDs.swift
  EdgeAgentSDK/EdgeAgent/Sources/EdgeAgent+DIDHigherFucntions.swift
  EdgeAgentSDK/EdgeAgent/Sources/OIDCAgent/OIDCAgent+DIDs.swift
  EdgeAgentSDK/EdgeAgent/Tests/BackupWalletTests.swift
  EdgeAgentSDK/EdgeAgent/Tests/CheckTest.swift
  EdgeAgentSDK/EdgeAgent/Tests/Helper/Castor+Testing.swift
  EdgeAgentSDK/Pollux/Sources/Operation/SDJWT/CreateSDJWTCrendentialRequest.swift
  EdgeAgentSDK/Pollux/Sources/PolluxImpl+CredentialRequest.swift
  EdgeAgentSDK/Pollux/Tests/Mocks/MockCastor.swift
  Sample/AtalaPrismWalletDemo/AtalaPrismWalletDemo.xcodeproj/project.pbxproj
  Sample/AtalaPrismWalletDemo/AtalaPrismWalletDemo/Modules/WalletDemo2/Credentials/CredentialsList/CredentialListViewModel.swift
  Sample/AtalaPrismWalletDemo/AtalaPrismWalletDemo/Modules/WalletDemo2/Mediator/MediatorPage/MediatorPageView.swift
Owners: @goncalo-frade-iohk, @elribonazo

feat(castor): now castor and agents can create a did with any keys
  EdgeAgentSDK/Castor/Sources/CastorImpl+Public.swift
  EdgeAgentSDK/Castor/Sources/DID/PrismDID/PrismDIDPublicKey.swift
  EdgeAgentSDK/Castor/Sources/Operations/CreatePeerDIDOperation.swift
  EdgeAgentSDK/Castor/Sources/Operations/CreatePrismDIDOperation.swift
  EdgeAgentSDK/Castor/Sources/Resolvers/LongFormPrismDIDResolver.swift
  EdgeAgentSDK/Domain/Sources/BBs/Castor.swift
  EdgeAgentSDK/Domain/Sources/BBs/Pollux.swift
  EdgeAgentSDK/Domain/Sources/Models/Errors.swift
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+Credentials.swift
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+DIDs.swift
  EdgeAgentSDK/EdgeAgent/Sources/EdgeAgent+Credentials.swift
  EdgeAgentSDK/EdgeAgent/Sources/EdgeAgent+DIDHigherFucntions.swift
  EdgeAgentSDK/EdgeAgent/Sources/OIDCAgent/OIDCAgent+DIDs.swift
  EdgeAgentSDK/EdgeAgent/Tests/BackupWalletTests.swift
  EdgeAgentSDK/EdgeAgent/Tests/CheckTest.swift
  EdgeAgentSDK/EdgeAgent/Tests/Helper/Castor+Testing.swift
  EdgeAgentSDK/Pollux/Sources/Operation/SDJWT/CreateSDJWTCrendentialRequest.swift
  EdgeAgentSDK/Pollux/Sources/PolluxImpl+CredentialRequest.swift
  EdgeAgentSDK/Pollux/Tests/Mocks/MockCastor.swift
  Sample/AtalaPrismWalletDemo/AtalaPrismWalletDemo.xcodeproj/project.pbxproj
  Sample/AtalaPrismWalletDemo/AtalaPrismWalletDemo/Modules/WalletDemo2/Credentials/CredentialsList/CredentialListViewModel.swift
  Sample/AtalaPrismWalletDemo/AtalaPrismWalletDemo/Modules/WalletDemo2/Mediator/MediatorPage/MediatorPageView.swift
Owners: @goncalo-frade-iohk, @elribonazo

fix: a workaround prism did since the master key should not be handled
  EdgeAgentSDK/Pollux/Sources/PolluxImpl+CredentialRequest.swift
Owners: @goncalo-frade-iohk, @elribonazo

fix: anoncreds missing thid
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+Credentials.swift
Owners: @goncalo-frade-iohk, @elribonazo

fix: anoncreds missing thid (#202)
  EdgeAgentSDK/EdgeAgent/Sources/DIDCommAgent/DIDCommAgent+Credentials.swift
Owners: @goncalo-frade-iohk, @elribonazo
